<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div>
    <header>
        <h1 th:text="#{page.editTask}">
            할 일 수정
        </h1>
    </header>

    <section>
        <form th:object="${taskForm}" method="post">
            <p><label th:for="name" th:text="#{label.title}">제목</label></p>
            <input type="text" th:field="*{name}" th:placeholder="${taskForm.name}">
            <p th:errors="*{name}">Incorrect data</p>
            <p th:text="#{label.priority}">우선순위</p>
            <th:block th:each="pr : ${priorities}">
                <input type="radio" th:field="*{priority}" th:value="${pr.name()}">
                <label th:for="${#ids.prev('priority')}" th:text="#{${pr.getDescription()}}"></label>
            </th:block>
            <p th:errors="*{priority}">Incorrect data</p>
            <div>
                <button type="submit" th:text="#{button.submit}">
                    제출
                </button>
                <button type="reset" th:text="#{button.reset}">
                    되돌리기
                </button>
                <a href="/tasks">
                    [ &leftarrow; <span th:text="#{button.prev}">이전</span> ]
                </a>
            </div>
        </form>
    </section>

</div>
</body>
</html>