<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div>
    <header>
        <h1>
            Todo List
        </h1>
        <a href="/tasks/new">
            새로운 TODO 등록
        </a>
    </header>
    <section>
        <article>
            <h2>
                TODO
            </h2>
            <ul>
                <li th:each="task : ${todos}">
                    <h3 th:text="${task.name}"></h3>
                    <p>
                        등록날짜 : <span th:text="${#temporals.format(task.regDate, 'yyyy-MM-dd')}"></span>,
                        우선순위 : <span th:text="${task.priority.getDescription()}"></span>
                    </p>
                    <a th:href="@{/tasks/{id}/edit (id=${task.id})}" role="button">
                        [ Edit ]
                    </a>
                    <a th:href="@{/tasks/{id}/update (id=${task.id})}" role="button">
                        [ &rightarrow; ]
                    </a>
                </li>
            </ul>
        </article>
        <article>
            <h2>
                DOING
            </h2>
            <ul>
                <li th:each="task : ${doings}">
                    <h3 th:text="${task.name}"></h3>
                    <p>
                        등록날짜 : <span th:text="${#temporals.format(task.regDate, 'yyyy-MM-dd')}"></span>,
                        우선순위 : <span th:text="${task.priority.getDescription()}"></span>
                    </p>
                    <a th:href="@{/tasks/{id}/edit (id=${task.id})}" role="button">
                        [ Edit ]
                    </a>
                    <a th:href="@{/tasks/{id}/update (id=${task.id})}" role="button">
                        [ &rightarrow; ]
                    </a>
                </li>
            </ul>
        </article>
        <article>
            <h2>
                DONE
            </h2>
            <ul>
                <li th:each="task : ${dones}">
                    <h3 th:text="${task.name}"></h3>
                    <p>
                        등록날짜 : <span th:text="${#temporals.format(task.regDate, 'yyyy-MM-dd')}"></span>,
                        우선순위 : <span th:text="${task.priority.getDescription()}"></span>
                    </p>
                    <a th:href="@{/tasks/{id}/edit (id=${task.id})}" role="button">
                        [ Edit ]
                    </a>
                    <a th:href="@{/tasks/{id}/delete (id=${task.id})}" role="button">
                        [ X ]
                    </a>
                </li>
            </ul>
        </article>

    </section>
</div>
</body>
</html>